
/* 
.main-container{
    overflow-y: scroll;

}

.main-container::-webkit-scrollbar{
    width: 3px;
    background-color: rgb(222, 222, 222);
} */



.main-conatiner--section{
    width: 95%;
    margin: 0px auto;
}