:root {
    --primary-color: #2f2cd8;
    --secondary-color: #7184ad;
    --heading-color: #1f2c73;
}


#history h1 {
    font-size: 22px;
    font-weight: 500;
    color: var(--heading-color);
    text-align: start;
}

#history p {
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color);
    margin-top: -5px;
}


.history-section{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.history-item{
    width: 32%;
    margin-top: 10px;
    border-radius: 6px;
    box-shadow: 0 0 2px 0 rgba(145, 158, 171, .3), 0 12px 24px -4px rgba(145, 158, 171, .12);
    min-height: 100px;
    background-color: white;
    padding: 10px;
}

@media (max-width:768px) {
    .history-item{
        width: 49%;
    }
}

@media (max-width:768px) {
    .history-item{
        width: 100%;
    }
}