

:root{
    --primary-color: #2f2cd8;
    --secondary-color: #7184ad;
    --heading-color: #1f2c73;
}


#user-reservations .main-content{
   margin-top: 15px;
}
#user-reservations h1{
    font-size: 22px;
    font-weight: 500;
    color: var(--heading-color);
}

#user-reservations p{
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color);
    margin-top: -5px;
}


.book-now{
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    font-size: 14px;
    border-radius: 6px;
    border: none;
    outline: none;
    margin-top: 17px;
}