
:root{
    --primary-color: #2f2cd8;
    --secondary-color: #7184ad;
    --heading-color: #1f2c73;
}


#admin-dashboard .main-content{
   margin-top: 15px;
}

#admin-dashboard h1{
    font-size: 22px !important;
    font-weight: 500 !important;
    color: var(--heading-color) !important;
}

#admin-dashboard p{
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color);
    margin-top: -5px;
}


/* ------------------- Cards
--------------*/

.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}


/* --------------------room-list--and--profile-section
-------------------*/

.room-list--and--profile-section{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
}

.room-list{
    width: 69%;
    box-shadow: 0 0 2px 0 rgba(145, 158, 171, .3), 0 12px 24px -4px rgba(145, 158, 171, .12);
    padding: 15px;
    background-color: white;
    border-radius: 6px;
}

.profile-section{
    width: 29%;
    box-shadow: 0 0 2px 0 rgba(145, 158, 171, .3), 0 12px 24px -4px rgba(145, 158, 171, .12);
    padding: 15px;
    background-color: white;
    border-radius: 6px;
}

@media (max-width:992px) {
    .room-list{
        width: 59%;
    }
    
    .profile-section{
        width: 39%;
    }
}

@media (max-width:768px) {
    .room-list{
        width: 100%;
    }
    
    .profile-section{
        width: 100%;
        margin-top: 20px;
    }
}